<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/general.html :: common_header(~{::title},~{},~{})}">
<title>Data store - Home</title>
</head>
<body>
	<div th:insert="~{fragments/general.html :: header_nav('entities')}" />
	<div class="container">
		<h1 th:utext="#{entities.title}"></h1>
        <p th:utext="#{entities.description}"></p>
        <ol>
	        <li><a href="programs/home">Programs</a></li>
	        <li><a href="orgs/home">Organizations</a></li>
	        <li><a href="applications/home">Applications</a></li>
	        <li><a href="participations/home">App Participations</a></li>
	        <li><a href="awards/home">Awards</a></li>
	        <li>Payments</li>
	        <li>Research Classification</li>
	        <li>>MDM / ECR</li>
        </ol>
	</div>
   </body>
</html>