<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/general.html :: common_header(~{::title},~{},~{})}">
<title>Data store - Home</title>
</head>
<body>
	<div th:insert="~{fragments/general.html :: header_nav('entities')}" />
	<div class="container">
		<h1>View Program</h1>
		<div class="form-group row">
			<div class="col-sm-2 col-form-label" th:utext="#{form.name}">Name</div>
			<div class="col-sm-10" th:text="${programForm.name}"></div>
		</div>
		<div class="form-group row">
			<div class="col-sm-2 col-form-label" th:utext="#{form.leadAgency}">Lead Agency</div>
			<div class="col-sm-10"><a th:href="@{'/entities/programs/viewAgency'(id=${programForm.leadAgency.id})}" th:text="${programForm.leadAgency.acronym}"></a></div>
		</div>
		<div class="form-group row">
			<div class="col-sm-2 col-form-label" th:utext="#{form.division}">Division</div>
			<div class="col-sm-10" th:text="${programForm.division}"></div>
		</div>
		<div class="form-group row">
			<div class="col-sm-2 col-form-label" th:utext="#{form.fundingType}">Funding Type</div>
			<div class="col-sm-10" th:text="${programForm.fundingType}"></div>
		</div>
		<div class="form-group row">
			<div class="col-sm-2 col-form-label">Number of agencies</div>
			<div class="col-sm-10" th:text="${#lists.size(programForm.agencies)}"></div>
		</div>
		<div class="form-group row">
			<div class="col-sm-2 col-form-label" th:utext="#{form.frequency}">Frequency</div>
			<div class="col-sm-10" th:text="${programForm.frequency}"></div>
		</div>
		<div class="form-group row">
			<div class="col-sm-2 col-form-label" th:utext="#{form.applyMehod}">Apply Method</div>
			<div class="col-sm-10" th:text="${programForm.applyMethod}"></div>
		</div>
		<div class="form-group row">
			<div class="col-sm-2 col-form-label" th:utext="#{form.awardSystem}">Award System</div>
			<div class="col-sm-10" th:text="${programForm.awardManagementSystem}"></div>
		</div>
		<div class="form-group row">
			<div class="col-sm-2 col-form-label" th:utext="#{form.programLeadName}">Program Lead Name</div>
			<div class="col-sm-10" th:text="${programForm.programLeadName}"></div>
		</div>
		<div class="form-group row">
			<div class="col-sm-2 col-form-label" th:utext="#{form.agencies}">Agencies</div>
			<div class="col-sm-10">
				<ul th:each="agency : ${programForm.agencies}">
					<li class="col-sm-10" th:text="${agency.getLocalizedAttribute('acronym')}"></li>
				</ul>
			</div>
		</div>
		<a class="btn btn-primary" th:href="@{editProgram(id=${programForm.id})}" role="button">Edit</a>
	</div>
   </body>
</html>

