<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/general.html :: common_header(~{::title},~{},~{})}">
<title>Data store - Home</title>
</head>
<body>
	<div th:insert="~{fragments/general.html :: header_nav('home')}" />
	<div class="container">
		<h1 th:utext="#{greeting}"></h1>
        <p>Welcome to the data store.  Please select one of the following opitons</p>
        <ol>
	        <li><a href="import/home">Import Programs</a> from file</li>
	        <li><a href="programs/home">Browse Programs</a></li>
        </ol>
	</div>
   </body>
</html>