<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/general.html :: common_header(~{::title},~{::link},~{::script})}">
	<title th:utext="#{entities.participations.title}"></title>
	<link rel="stylesheet" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css" />
	<script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
	<script type="text/javascript">
		$(document).ready( function () {
			var table = $('#dataTable').DataTable({});
		});
	</script>
</head>
<body>
	<div th:insert="~{fragments/general.html :: header_nav('entities')}" ></div>
	<div class="section">
			<div class="col-sm-2"></div>
			<div class="col-sm-8">
				<h1 th:utext="#{entities.participations.title}"></h1>
				<p th:utext="#{entities.participations.description}"></p>
				<table id="dataTable" class="display">
			       <!-- Header Table -->
			       <thead>
			            <tr>
			                <th>External ID</th>
			                <th>Program</th>
			                <th>Organization</th>
			                <th>City</th>
			            </tr>
			        </thead>
			        <tbody>
						<tr th:each="p : ${participations}">
							<td><a th:href="@{viewParticipation(id=${p.id})}" th:text="${p.applId}"></a></td>
							<td><a th:href="@{../programs/viewProgram(id=${p.programId})}" th:text="${p.getLocalizedAttribute('programName')}"></a></td>
							<td th:text="${p.getLocalizedAttribute('orgName')}" />
							<td th:text="${p.orgCity}" />
						</tr>
					</tbody>
			    </table>
			</div>
			<div class="col-sm-2"></div>

	</div>    
</body>
</html>